*{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover{
    background-color: #fff231;
}

a:active{
    background-color: darkred;
}

h1{
    text-decoration: underline;
    text-transform: uppercase;
}

h2{
    text-decoration: overline;
    text-transform: lowercase;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-transform: capitalize;
    text-align: justify;
    text-indent: 10px;
    line-height: 150%;
}

section{
    background-image: url('/img/mosaic.jpg');
    background-size: 15px 15px;
    background-repeat: repeat;
    padding: 15px 0px;
}


header nav ul li a {
    text-decoration: none;
}

/* inicio estilo del header */


/* Fin estilo del header */


#header-style{
    color:rgb(63, 63, 182);
    padding-top: 15px;
    background-color: beige;
}

#italica-titulo{
    font-style: italic
}

#important-article:hover{
    color:rgb(199, 160, 199);
    text-decoration: underline;
}

.p-color{
    color:red;
    font-weight: bold;
}

.lista{
    font-size:20px;
    list-style-type: none;
}

.align-right, .align-right p{
    text-align: right !important;
}

.total-width{
    border: 5px solid black
}

.aside-index{
    padding: 10px 0px;
    background-image: url('/img/code-820275_1280.jpg');
    background-attachment: fixed;
    background-size: cover;

}

.background-article{
    background-color: darkgrey;
    color: indigo;
    padding: 10px;
    margin-top: 15px;
    border-radius: 50px;
}

.area-article{
    background-color: chartreuse;
    padding: 15px;
    border-radius: 50px;
}

.area-article img{
    border-radius: 50px;
}


